[Desktop Entry]
Name=Sheet
Comment=An ODF-native spreadsheet
Exec=grind-sheet-gtk %f
Icon=io.github.fwilhe2.Sheet
Terminal=false
Type=Application
Categories=Office;Spreadsheet;GTK;
MimeType=application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.spreadsheet-flat-xml;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-excel.sheet.macroEnabled.12;text/csv;text/tab-separated-values;
Keywords=spreadsheet;ODF;ods;Excel;xlsx;CSV;TSV;
StartupNotify=true
